<h1>Eventの新規作成</h1>

<%= form_with model:@new_event ,local: true do |f| %>

  <div class="form-group">
    <%= f.text_field :event_name, class: "form-control", placeholder: "イベント名" %>
  </div>

  <div class="form-group">
    <%= f.text_area :event_introduction, class: "form-control", placeholder: "イベントの説明" %>
  </div>

  <div class="form-group">
    <%= f.datetime_field :start_time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.datetime_field :finish_time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.datetime_field :deadline_time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.text_field :limit_num, class: "form-control", placeholder: "参加人数枠" %>
  </div>

  <div class="form-group">
    <%= f.text_field :event_image, class: "form-control", placeholder: "イベントのイメージ画像" %>
  </div>

  <div class="form-group">
    <%= f.text_field :event_tag_image, class: "form-control", placeholder: "タグの画像" %>
  </div>

  <div class="form-group">
    <%= f.collection_select :group_id , @own_group, :id , :group_name,:include_blank => "グループを選ぶ" %>
  </div>





  <%= f.submit "作成" %>

<% end %>